@model Drag_Drop.Data.Order

@{
    ViewData["Title"] = "Details";
}
<style>
    body {
        background-image: url(https://aromantic.co.uk/cdn/shop/articles/shutterstock_486713719_1000x_1fae8d4b-11a1-4890-a791-8268522a6c69.jpg?v=1654056377);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .detailsAdminBtn a:hover {
        background-color: #6F2929;
    }
</style>

<h1>Редактиране </h1>

<div>
    <hr />
    <dl class="DetailedOrders" style="background-color:white; color:black;">

        <dd class = "col-sm-10">
           Име на продукта: @Html.DisplayFor(model => model.Products.Name)
        </dd>

        <dd class = "col-sm-10">
           Име на потребителя: @Html.DisplayFor(model => model.Clients.UserName)
        </dd>

        <dd class = "col-sm-10">
           Брой: @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" type="submit" class="btn btn-primary">Редактирай</a>
    <a asp-action="Back" asp-route-id="@Model?.Id" type="submit" class="btn btn-primary">Назад</a>
</div>
