@{
    ViewData["Title"] = "Home Page";
}
<style>
    .Image {
        position: relative;
    }

        .Image img {
            overflow: hidden;
            justify-content: center;
            width: 85%;
            height: auto;
            border-radius: 2%;
        }

        .Image h1 {
            position: absolute;
            top: 7%;
            left:31.5%;
            right: 0%;
            color: white;
            font-size: 30px;
            font-family: cursive;
            text-shadow: 3px 3px black;
            background-color: #87c6ec;
            width: 40%;
            
        }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer ul {
        list-style-type: none;
        padding: 0;
    }

        footer ul li {
            display: inline-block;
            margin-right: 10px;
        }

            footer ul li a {
                color: #fff;
                text-decoration: none;
            }
</style>
<div class="text-center">
    <div class="Image">
        <img src="https://wallpapers.com/images/featured/healthcare-oco8w27tkw40cp90.jpg" />
        <h1>
            Дрогерия „Drag&Drop“
        </h1>

    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 My Website. All rights reserved.</p>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>
    </footer>

</div>
