@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        user-select: none;
        background-image: url(https://aromantic.co.uk/cdn/shop/articles/shutterstock_486713719_1000x_1fae8d4b-11a1-4890-a791-8268522a6c69.jpg?v=1654056377);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image-container img {
        max-width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        border: 1px solid lightgray;
        border-radius: 3px;
    }

    .image-container {
        margin-bottom: -50px;
        position: relative;
    }

    .centered-text {
        position: absolute;
        top: 30%;
        bottom: 0%;
        right: 20%;
        left: 0%;
        color: white;
        text-align: center;
        height: 0;
    }

    h1 {
        font-size: 56px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .heading {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
    }

        .heading a:hover {
            font-size: 44px;
            text-decoration: none;
            border-radius: 9999px;
            color: white;
        }

        .heading span {
            padding: 3px 10px;
            border-top: 5px solid white;
            border-bottom: 5px solid white;
            border-radius: 9999px;
        }

        .heading span, h1 {
            background: linear-gradient(limegreen, limegreen);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    a {
        text-decoration: none;
        color: white;
    }

        a:visited {
            color: white;
            text-decoration: none;
        }

    .aboutus-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: black;
        padding: 3px;
    }

    .aboutusimage-container {
        padding: 0px 10px;
        width: 50%;
    }

        .aboutusimage-container img {
            max-width: 100%;
            height: auto;
            border-radius: 15px;
            border: 2px solid black;
            box-shadow: 0px 0px 3px black;
        }

    .aboutus-text {
        margin-bottom: 100px;
        line-height: 2.2rem;
        width: 50%;
        padding: 0px 15px;
        font-family: cursive;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .title {
        color: black;
        text-shadow: none;
    }

    .aboutus-text p::first-letter {
        font-size: 36px;
        text-transform: uppercase;
    }

    .aboutus-text p {
        font-size: 22px;
        text-align: justify;
        flex-direction: column;
    }

    #margin-text {
        margin-bottom: 60px;
    }

    .text-center {
        font-size: 36px;
        font-family: cursive;
        margin-bottom: 25px;
    }

    .title {
        text-align: center;
    }

    .heading h1 {
        -webkit-text-stroke: 1px #fff;
    }

    @@media screen and (max-width: 1400px) {
        .aboutus-container .aboutus-text p {
            font-size: 18px;
        }
    }

    @@media screen and (max-width: 1199px) {
        .aboutus-container .aboutus-text {
            line-height: 1.5rem;
        }
    }

    @@media screen and (max-width: 991px) {
        .aboutus-container .aboutus-text p {
            font-size: 14px;
            line-height: 1rem;
            text-shadow: 1px 1px black, 1.25px 1.25px black;
        }

            .aboutus-container .aboutus-text p::first-letter {
                font-size: 20px;
            }

        h1 {
            font-size: 35px;
        }

        .heading {
            font-size: 25px;
        }

            .heading a:hover {
                font-size: 29px;
            }

        .title {
            font-size: 15px;
            text-shadow: 0.25px 0.25px black;
        }
    }

    @@media screen and (max-width: 768px) {
        .aboutusimage-container {
            display: inline-flex;
            align-items: center;
        }

        .aboutus-text {
            margin: 0;
        }

        #margin-text {
            margin-bottom: 0;
        }
    }
</style>
<div class="image-container">
    <img src="https://static.vecteezy.com/system/resources/previews/024/449/474/large_2x/eco-friendly-cosmetics-decorated-with-green-leaves-organic-facial-skincare-makeup-and-skin-care-cosmetic-items-ai-generated-image-free-photo.jpg" />
    <div class="centered-text">
        <div class="heading">
            <h1>Drag&Drop<br /></h1>
        </div>
    </div>
</div>

<hr size="4" style="margin-top: 75px">
<div class="text-center"; style="color: black; background-color:white">За нас</div>
<div class="aboutus-container">
    <div class="aboutusimage-container">
        <img src="https://s.yimg.com/ny/api/res/1.2/lmXM5CGUwFN9t4Z9oSbZPg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTM1OQ--/https://media.zenfs.com/en/insidermonkey.com/7d56775b2a508dd2cc038136895ed797" />
    </div>
    <div id="margin-text" class="aboutus-text" style="border-right: 2px solid lightgray;">
        <h3 class="title" ; style="background-color:white">Парфюми</h3>
        <br />
        <p style="background-color:white">
            Парфюма е ароматизиращо вещество на базата на алкохоли
            или водни разтвори на алкохоли. Най-голямата концентрация 
            в него е на етерични масла , разтворени в почти
            чист алкохол. В парфюмите се съдържат над 300 
            вещества от растителен, животински и химичен произход. 
            В качеството на универсален разтворител се използва етанол 
            с висока концентрация (96 %).
        </p>
    </div>
    <div class="aboutus-text" style="border-left: 2px solid lightgray">
        <h3 class="title" ; style="color: black; background-color:white">Кремове и Гелове</h3>
        <br />
        <p style="color: black; background-color:white">
            Крем е козметично средство във вид на емулсия, предназначено
            за полагане на грижи за кожата най-вече на лицето. Съществуват
            кремове за ръце, за лице и за тяло.Значителна част от древната 
            козметика представлява ароматизирани масла и мазила, които се 
            получават от растителни и животински мазнини, смесени с тонизиращи
            и лечебни добавки.
        </p>
    </div>
    <div class="aboutusimage-container">
        <img src="https://images-us.nivea.com/-/media/nivea/local/in/boday_page/3_banner_3080x806.png?rx=1304&ry=0&rw=1452&rh=805" />
    </div>
    <div class="aboutusimage-container">
        <img src="https://www.jagranimages.com/images/newimg/17082023/17_08_2023-makeup_tips_23503947.webp" />
    </div>
    <div class="aboutus-text" style="border-right: 2px solid lightgray">
        <h3 class="title" ; style="color: black; background-color:white">Гримове</h3>
        <br />
        <p style="color: black; background-color:white">
            Козметика или още грим са субстанциите, използвани за подсилване
            на красотата на човешкото тяло. Козметиката включва кремове, пудри,
            червила, сенки, спирали за очи и други подобни видове продукти.
            Употребата на козметика е широко разпространена, особено сред жените.
        </p>
    </div>
    <div class="aboutus-text" style="border-left: 2px solid lightgray">
        <h3 class="title" ; style="color: black; background-color:white">Други потребности</h3>
        <br />
        <p style="color: black; background-color:white">
            Пастата за зъби е смес за механично почистване на зъбите и 
            профилактика на устната кухина. Делят се на две групи: профилактични
            и лечебни. В комбинация с посещения на стоматолог се постига оптимално
            поддържане на устна хигиена. Изборът на паста е препоръчително да 
            бъде направен след консултация със стоматолог. Не всички пасти имат 
            желания ефект.
        </p>
    </div>
    <div class="aboutusimage-container">
        <img src="https://asoothingliving.com/wp-content/uploads/2022/01/Different-types-of-toothpaste.jpg" />
    </div>
</div>
