@model Drag_Drop.Data.Category

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        background-image: url(https://aromantic.co.uk/cdn/shop/articles/shutterstock_486713719_1000x_1fae8d4b-11a1-4890-a791-8268522a6c69.jpg?v=1654056377);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        box-shadow: 3px 3px 3px 1px;
        width: 360px;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: auto;
        margin-right: auto;
        font-family: 'Times New Roman';
    }

    .col-md-4 {
        width: 400px;
        font-family: 'Times New Roman'];
    }

    .form-control {
        font-family: 'Times New Roman';
    }

    .HeadingCreate {
        font-family: 'Times New Roman'];
        font-weight: 900;
        color: #79000E;
        text-shadow: 1px 1px black
    }

    .btnSubmit {
        padding: 10px;
        background-color: #79000E;
        border-color: #79000E;
    }

    .AddBtn {
        border-color: #79000E;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        width: 100%;
    }

        .AddBtn a {
            background-color: #79000E;
            border-color: #79000E;
        }

        .AddBtn input[type=submit] {
            background-color: #79000E;
            border-color: #79000E;
        }

        .AddBtn a:hover {
            background-color: #6F2929;
            border-color: #6F2929;
        }

    .BackBtn a:hover {
        background-color: #6F2929;
        border-color: #6F2929;
    }
</style>
<center>
    <h1 style="font-family:'Times New Roman'; background-color:rgba(255, 255, 255, 0.7);">Създаване на нова категория</h1>
</center>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
 @*            <div class="form-group">
                <label asp-for="RegisterOn" class="control-label"></label>
                <input asp-for="RegisterOn" class="form-control" />
                <span asp-validation-for="RegisterOn" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Добави" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <input type="submit" value="Назад" asp-action="Index" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
